# Ignore node_modules folder
**/node_modules/

backend/node_modules/
frontend/node_modules/

frontend/.env
backend/.env
# Ignore .env files
*.env


# Ignore folders named upload
# backend/uploads/
# backend/testUploads/


backend/coverage


cloc-2.00.exe